[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "grasps"]
	path = grasps
	url = https://github.com/carol-seven/grasps
[submodule "ionet"]
	path = ionet
	url = https://github.com/carol-seven/ionet
[submodule "pecan"]
	path = pecan
	url = https://github.com/carol-seven/pecan
